@import url(header.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner-dental {
  width: 100%;
  height: 60vh;

  background: rgb(212, 228, 253);
  background: linear-gradient(
    90deg,
    rgba(212, 228, 253, 1) 39%,
    rgba(212, 244, 233, 1) 79%
  );
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60vh;
}
.banner-content {
  flex: 1 0 35%;
  padding: 0 2.5rem;
}
.banner-content h2 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1a1a1a;
}
.banner-content p {
  font-size: 1.25rem;
  font-weight: 400;
  width: 31.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1a1a1a;
  padding: 1rem 0;
}
.banner-content button {
  padding: 1rem;
  border-radius: 15px;
  border: none;
  background-color: #0d6efd;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.banner-dental-img {
  display: flex;
  align-items: flex-end;
  flex: 1 0 35%;
  height: 100%;
}
.banner-dental img {
  height: 85%;
  object-fit: cover;
}

.atendimento,
.profissionais,
.nota{ 
  width: 300px;
  height: 200px;
  background-color: #0d6efd;
  margin-left: 350px;
  border-radius: 15px;
}