@import url(header.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner-dental {
  width: 100%;
  height: 60vh;

  background: rgb(212, 228, 253);
  background: linear-gradient(
    90deg,
    rgba(212, 228, 253, 1) 39%,
    rgba(212, 244, 233, 1) 79%
  );
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60vh;
}
.banner-content {
  flex: 1 0 35%;
  padding: 0 2.5rem;
}
.banner-content h2 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1a1a1a;
}
.banner-content p {
  font-size: 1.25rem;
  font-weight: 400;
  width: 31.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1a1a1a;
  padding: 1rem 0;
}
.banner-content button {
  padding: 1rem;
  border-radius: 15px;
  border: none;
  background-color: #0d6efd;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.banner-dental-img {
  display: flex;
  align-items: flex-end;
  flex: 1 0 35%;
  height: 100%;
}
.banner-dental img {
  height: 85%;
  object-fit: cover;
}
.cards{
  display: flex;
  margin-top: -200px;
  padding: 100px;
  justify-content: space-between;
}
.card-1{
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 15px;
  width: 20%;
  height: 200px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px #000;
  text-align: center;
}
.card-1:nth-child(1){
  border-top: 4px solid #0d6efd;
}
.card-1:nth-child(2){
  border-top: 4px solid #0d6efd;
}
.card-1:nth-child(3){
  border-top: 4px solid #0d6efd;
}
.cards img{
  max-width: 20%;
  height: auto;
  align-content: center;
}
.reason-for-choice{
  display: flex;
  justify-content: space-between;
}
.img-reason-for-choice{
  display: flex;
  margin-top: 115px;
  max-width: 35%;
  height: auto;
}
.text-reason-for-choice{
  text-align: justify;
  justify-content: center;
  margin-top: 300px;
  margin-right: 200px;
  max-width: 30%;
  justify-content: space-between;
}
.reason{
  padding: 20px;
}
.velocity{
  color: aqua;
  font-style: bold;
}
.simplicity{
  color: blue;
  font-style: bold;
}
.quality{
  color: rgb(57, 178, 214);
  font-style: bold;
}
.services{
  text-align: center;
}
.cards2{
  display: flex;
  padding: 100px;
  justify-content: space-between;
}
.card-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #FFF;
  border-radius: 15px;
  width: 20%;
  height: 200px;
  align-content: center;
  box-shadow: 0px 0px 10px #000;
}
.cards2 img{
  max-width: 20%;
  height: auto;
  align-content: center;
}
.our-workers{
  background-color: rgb(202, 218, 244);
  margin: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.our-workers-text{
  text-align: justify;
  max-width: 50%;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.workers{
  padding: 20px;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.our-workers-img img{
  max-width: 75%;
  height: auto;
  align-content: right;
}